In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [ ]:
university_towns.txt

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [7]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    import re
    with open ('university_towns.txt') as file:
        lines=[]
        together=[]
        for line in file:
            line = re.sub(r'\(.*\)','',line)
            line = re.sub(r'\[.*\]','',line)
            lines.append(line.strip('\n '))
        for i in range(len(lines)):
            if lines[i] in states.values():
                stname = lines[i]
            else:
                together.append([stname,lines[i]])
    
    return pd.DataFrame(together, columns=["State", "RegionName"])
get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
484       Virginia                          Wise
485       Virginia                    Chesapeake
486     Washington                    Bellingham
487     Washington                        Cheney
488     Washington                    Ellensburg
489     Washington                       Pullman
490     Washington  University District, Seattle
491  West Virginia                        Athens
492  West Virginia                    Buckhannon
493  West Virginia                      Fairmont
494  West Virginia                     Glenville
495  West Virginia                    Huntington
496  West Virginia                    Montgomery
497  West Virginia                    Morgantown
498  West Virginia                 Shepherdstown
499  West Virginia                  West Liberty
500      Wisconsin                      Appleton
501      Wisconsin                    Eau Claire
502      Wisconsin                     Green Bay
503      Wisconsin                     La Crosse
504      Wisconsin                       Madison
505      Wisconsin                     Menomonie
506      Wisconsin                     Milwaukee
507      Wisconsin                       Oshkosh
508      Wisconsin                   Platteville
509      Wisconsin                   River Falls
510      Wisconsin                 Stevens Point
511      Wisconsin                      Waukesha
512      Wisconsin                    Whitewater
513        Wyoming                       Laramie

[514 rows x 2 columns]

In [8]:
def university_towns():
    import re
    with open ('university_towns.txt') as file:
        lines=[]
        together=[]
        for line in file:
            line = re.sub(r'\(.*\)','',line)
            line = re.sub(r'\[.*\]','',line)
            lines.append(line.strip('\n '))
        for i in range(len(lines)):
            if lines[i] in states.values():
                stname = lines[i]
            else:
                together.append([stname,lines[i]])
    
    return together
university_towns()

[['Alabama', 'Auburn'],
 ['Alabama', 'Florence'],
 ['Alabama', 'Jacksonville'],
 ['Alabama', 'Livingston'],
 ['Alabama', 'Montevallo'],
 ['Alabama', 'Troy'],
 ['Alabama', 'Tuscaloosa'],
 ['Alabama', 'Tuskegee'],
 ['Alaska', 'Fairbanks'],
 ['Arizona', 'Flagstaff'],
 ['Arizona', 'Tempe'],
 ['Arizona', 'Tucson'],
 ['Arkansas', 'Arkadelphia'],
 ['Arkansas', 'Conway'],
 ['Arkansas', 'Fayetteville'],
 ['Arkansas', 'Jonesboro'],
 ['Arkansas', 'Magnolia'],
 ['Arkansas', 'Monticello'],
 ['Arkansas', 'Russellville'],
 ['Arkansas', 'Searcy'],
 ['California', 'Angwin'],
 ['California', 'Arcata'],
 ['California', 'Berkeley'],
 ['California', 'Chico'],
 ['California', 'Claremont'],
 ['California', 'Cotati'],
 ['California', 'Davis'],
 ['California', 'Irvine'],
 ['California', 'Isla Vista'],
 ['California', 'University Park, Los Angeles'],
 ['California', 'Merced'],
 ['California', 'Orange'],
 ['California', 'Palo Alto'],
 ['California', 'Pomona  and formerly Pomona College'],
 ['California', 'Redlands'],
 ['California', 'Riverside'],
 ['California', 'Sacramento'],
 ['California', 'University District, San Bernardino'],
 ['California', 'San Diego'],
 ['California', 'San Luis Obispo'],
 ['California', 'Santa Barbara'],
 ['California', 'Santa Cruz'],
 ['California', 'Turlock'],
 ['California', 'Westwood, Los Angeles'],
 ['California', 'Whittier'],
 ['Colorado', 'Alamosa'],
 ['Colorado', 'Boulder'],
 ['Colorado', 'Durango'],
 ['Colorado', 'Fort Collins'],
 ['Colorado', 'Golden'],
 ['Colorado', 'Grand Junction'],
 ['Colorado', 'Greeley'],
 ['Colorado', 'Gunnison'],
 ['Colorado', 'Pueblo, Colorado'],
 ['Connecticut', 'Fairfield'],
 ['Connecticut', 'Middletown'],
 ['Connecticut', 'New Britain'],
 ['Connecticut', 'New Haven'],
 ['Connecticut', 'New London'],
 ['Connecticut', 'Storrs'],
 ['Connecticut', 'Willimantic'],
 ['Delaware', 'Dover'],
 ['Delaware', 'Newark'],
 ['Florida', 'Ave Maria'],
 ['Florida', 'Boca Raton'],
 ['Florida', 'Coral Gables'],
 ['Florida', 'DeLand'],
 ['Florida', 'Estero'],
 ['Florida', 'Gainesville'],
 ['Florida', 'Orlando'],
 ['Florida', 'Sarasota'],
 ['Florida', 'St. Augustine'],
 ['Florida', 'St. Leo'],
 ['Florida', 'Tallahassee'],
 ['Florida', 'Tampa'],
 ['Georgia', 'Albany'],
 ['Georgia', 'Athens'],
 ['Georgia', 'Atlanta'],
 ['Georgia', 'Carrollton'],
 ['Georgia', 'Demorest'],
 ['Georgia', 'Fort Valley'],
 ['Georgia', 'Kennesaw'],
 ['Georgia', 'Milledgeville'],
 ['Georgia', 'Mount Vernon'],
 ['Georgia', 'Oxford'],
 ['Georgia', 'Rome'],
 ['Georgia', 'Savannah'],
 ['Georgia', 'Statesboro'],
 ['Georgia', 'Valdosta'],
 ['Georgia', 'Waleska'],
 ['Georgia', 'Young Harris'],
 ['Hawaii', 'Manoa'],
 ['Idaho', 'Moscow'],
 ['Idaho', 'Pocatello'],
 ['Idaho', 'Rexburg'],
 ['Illinois', 'Carbondale'],
 ['Illinois', 'Champaign–Urbana'],
 ['Illinois', 'Charleston'],
 ['Illinois', 'DeKalb'],
 ['Illinois', 'Edwardsville'],
 ['Illinois', 'Evanston'],
 ['Illinois', 'Lebanon'],
 ['Illinois', 'Macomb'],
 ['Illinois', 'Normal'],
 ['Illinois', 'Peoria'],
 ['Indiana', 'Bloomington'],
 ['Indiana', 'Crawfordsville'],
 ['Indiana', 'Greencastle'],
 ['Indiana', 'Hanover'],
 ['Indiana', 'Marion'],
 ['Indiana', 'Muncie'],
 ['Indiana', 'Oakland City'],
 ['Indiana', 'Richmond'],
 ['Indiana', 'South Bend'],
 ['Indiana', 'Terre Haute'],
 ['Indiana', 'Upland'],
 ['Indiana', 'Valparaiso'],
 ['Indiana', 'West Lafayette'],
 ['Iowa', 'Ames'],
 ['Iowa', 'Cedar Falls'],
 ['Iowa', 'Cedar Rapids, Iowa'],
 ['Iowa', 'Decorah'],
 ['Iowa', 'Fayette'],
 ['Iowa', 'Grinnell'],
 ['Iowa', 'Iowa City'],
 ['Iowa', 'Lamoni'],
 ['Iowa', 'Mount Vernon,'],
 ['Iowa', 'Orange City'],
 ['Iowa', 'Sioux Center'],
 ['Iowa', 'Storm Lake'],
 ['Iowa', 'Waverly'],
 ['Kansas', 'Baldwin City'],
 ['Kansas', 'Emporia'],
 ['Kansas', 'Hays'],
 ['Kansas', 'Lawrence'],
 ['Kansas', 'Manhattan'],
 ['Kansas', 'Pittsburg'],
 ['Kentucky', 'Bowling Green'],
 ['Kentucky', 'Columbia'],
 ['Kentucky', 'Georgetown'],
 ['Kentucky', 'Highland Heights'],
 ['Kentucky', 'Lexington (University of Kentucky, Transylvania University'],
 ['Kentucky', 'Louisville'],
 ['Kentucky', 'Morehead'],
 ['Kentucky', 'Murray'],
 ['Kentucky', 'Richmond'],
 ['Kentucky', 'Williamsburg'],
 ['Kentucky', 'Wilmore'],
 ['Louisiana', 'Baton Rouge'],
 ['Louisiana', 'Grambling'],
 ['Louisiana', 'Hammond'],
 ['Louisiana', 'Lafayette'],
 ['Louisiana', 'Monroe'],
 ['Louisiana', 'Natchitoches'],
 ['Louisiana', 'Ruston'],
 ['Louisiana', 'Thibodaux'],
 ['Maine', 'Augusta'],
 ['Maine', 'Bar Harbor'],
 ['Maine', 'Brunswick'],
 ['Maine', 'Farmington'],
 ['Maine', 'Fort Kent'],
 ['Maine', 'Gorham'],
 ['Maine', 'Lewiston, Maine'],
 ['Maine', 'Orono'],
 ['Maine', 'Waterville'],
 ['Maryland', 'Annapolis'],
 ['Maryland', 'Chestertown'],
 ['Maryland', 'College Park'],
 ['Maryland', 'Cumberland'],
 ['Maryland', 'Emmitsburg'],
 ['Maryland', 'Frostburg'],
 ['Maryland', 'Princess Anne'],
 ['Maryland', 'Towson'],
 ['Maryland', 'Salisbury'],
 ['Maryland', 'Westminster'],
 ['Massachusetts', 'Boston'],
 ['Massachusetts', 'Bridgewater'],
 ['Massachusetts', 'Cambridge'],
 ['Massachusetts', 'Chestnut Hill'],
 ['Massachusetts', 'The Colleges of Worcester Consortium:'],
 ['Massachusetts', 'Dudley'],
 ['Massachusetts', 'North Grafton'],
 ['Massachusetts', 'Paxton'],
 ['Massachusetts', 'Worcester'],
 ['Massachusetts', 'The Five College Region of Western Massachusetts:'],
 ['Massachusetts', 'Amherst'],
 ['Massachusetts', 'Northampton'],
 ['Massachusetts', 'South Hadley'],
 ['Massachusetts', 'Fitchburg'],
 ['Massachusetts', 'North Adams'],
 ['Massachusetts', 'Springfield'],
 ['Massachusetts', 'Waltham'],
 ['Massachusetts', 'Williamstown'],
 ['Massachusetts', 'Framingham'],
 ['Michigan', 'Adrian'],
 ['Michigan', 'Albion'],
 ['Michigan', 'Allendale'],
 ['Michigan', 'Alma'],
 ['Michigan', 'Ann Arbor'],
 ['Michigan', 'Berrien Springs'],
 ['Michigan', 'Big Rapids'],
 ['Michigan', 'East Lansing'],
 ['Michigan', 'Flint'],
 ['Michigan', 'Hillsdale'],
 ['Michigan', 'Houghton'],
 ['Michigan', 'Kalamazoo'],
 ['Michigan', 'Marquette'],
 ['Michigan', 'Midland'],
 ['Michigan', 'Mount Pleasant'],
 ['Michigan', 'Olivet'],
 ['Michigan', 'Saginaw'],
 ['Michigan', 'Sault Ste. Marie'],
 ['Michigan', 'Spring Arbor'],
 ['Michigan', 'Ypsilanti'],
 ['Minnesota', 'Bemidji'],
 ['Minnesota', 'Crookston'],
 ['Minnesota',
  'Duluth (University of Minnesota Duluth, Lake Superior College, The College of St. Scholastica, University of Wisconsin–Superior, Duluth Business University'],
 ['Minnesota', 'Faribault, South Central College'],
 ['Minnesota', 'Mankato , Bethany Lutheran College'],
 ['Minnesota', 'Marshall'],
 ['Minnesota', 'Moorhead'],
 ['Minnesota', 'Morris'],
 ['Minnesota', 'Northfield'],
 ['Minnesota', 'North Mankato, South Central College'],
 ['Minnesota', 'St. Cloud'],
 ['Minnesota', 'St. Joseph'],
 ['Minnesota', 'St. Peter'],
 ['Minnesota', 'Winona'],
 ['Mississippi', 'Cleveland'],
 ['Mississippi', 'Hattiesburg'],
 ['Mississippi', 'Itta Bena'],
 ['Mississippi', 'Oxford'],
 ['Mississippi', 'Starkville'],
 ['Missouri', 'Bolivar'],
 ['Missouri', 'Cape Girardeau'],
 ['Missouri', 'Columbia'],
 ['Missouri', 'Fayette'],
 ['Missouri', 'Fulton .'],
 ['Missouri', 'Kirksville'],
 ['Missouri', 'Maryville'],
 ['Missouri', 'Rolla'],
 ['Missouri', 'Warrensburg'],
 ['Montana', 'Bozeman'],
 ['Montana', 'Dillon'],
 ['Montana', 'Missoula'],
 ['Nebraska', 'Chadron'],
 ['Nebraska', 'Crete'],
 ['Nebraska', 'Kearney'],
 ['Nebraska', 'Lincoln'],
 ['Nebraska', 'Peru'],
 ['Nebraska', 'Seward'],
 ['Nebraska', 'Wayne'],
 ['Nevada', 'Las Vegas'],
 ['Nevada', 'Reno'],
 ['New Hampshire', 'New London, New Hampshire'],
 ['New Hampshire', 'Durham'],
 ['New Hampshire', 'Hanover'],
 ['New Hampshire', 'Henniker'],
 ['New Hampshire', 'Keene'],
 ['New Hampshire', 'Plymouth'],
 ['New Hampshire', 'Rindge'],
 ['New Jersey', 'Ewing'],
 ['New Jersey', 'Jersey City'],
 ['New Jersey', 'Glassboro'],
 ['New Jersey', 'Hoboken'],
 ['New Jersey', 'Madison'],
 ['New Jersey', 'Newark'],
 ['New Jersey', 'New Brunswick'],
 ['New Jersey', 'Princeton'],
 ['New Jersey', 'Union'],
 ['New Jersey', 'West Long Branch'],
 ['New Mexico', 'Hobbs'],
 ['New Mexico', 'Las Cruces'],
 ['New Mexico', 'Las Vegas'],
 ['New Mexico', 'Portales'],
 ['New Mexico', 'Silver City'],
 ['New York', 'Alfred'],
 ['New York', 'Albany'],
 ['New York', 'Aurora'],
 ['New York', 'Binghamton'],
 ['New York', 'Brockport'],
 ['New York', 'Buffalo'],
 ['New York', 'Canton'],
 ['New York', 'Clinton'],
 ['New York', 'Cobleskill'],
 ['New York', 'Delhi'],
 ['New York', 'Fredonia'],
 ['New York', 'Geneseo'],
 ['New York', 'Geneva'],
 ['New York', 'Hamilton'],
 ['New York', 'Ithaca'],
 ['New York', 'Morningside Heights, Manhattan'],
 ['New York', 'New Paltz'],
 ['New York', 'Oneonta'],
 ['New York', 'Oswego'],
 ['New York', 'Plattsburgh'],
 ['New York', 'Potsdam'],
 ['New York', 'Poughkeepsie'],
 ['New York', 'Purchase'],
 ['New York', 'Rochester'],
 ['New York', 'Saratoga Springs'],
 ['New York', 'Seneca Falls'],
 ['New York', 'Stony Brook'],
 ['New York', 'Syracuse'],
 ['New York', 'Tivoli'],
 ['New York', 'Troy'],
 ['New York', 'West Point'],
 ['North Carolina', 'Banner Elk'],
 ['North Carolina', 'Boiling Springs'],
 ['North Carolina', 'Boone'],
 ['North Carolina', 'Buies Creek'],
 ['North Carolina', 'Chapel Hill'],
 ['North Carolina', 'Cullowhee'],
 ['North Carolina', 'Davidson'],
 ['North Carolina', 'Durham'],
 ['North Carolina', 'Elon'],
 ['North Carolina', 'Greensboro'],
 ['North Carolina', 'Greenville'],
 ['North Carolina', 'Hickory'],
 ['North Carolina', 'Mars Hill'],
 ['North Carolina', 'Mount Olive'],
 ['North Carolina', 'Pembroke'],
 ['North Carolina', 'Wilmington, North Carolina'],
 ['North Carolina', 'Wingate'],
 ['North Carolina', 'Winston-Salem'],
 ['North Dakota', 'Fargo'],
 ['North Dakota', 'Grand Forks'],
 ['Ohio', 'Ada'],
 ['Ohio', 'Alliance'],
 ['Ohio', 'Ashland'],
 ['Ohio', 'Athens'],
 ['Ohio', 'Berea'],
 ['Ohio', 'Bluffton'],
 ['Ohio', 'Bowling Green'],
 ['Ohio', 'Cedarville'],
 ['Ohio', 'Columbus'],
 ['Delaware', 'Fairborn'],
 ['Delaware', 'Findlay'],
 ['Delaware', 'Gambier'],
 ['Delaware', 'Granville'],
 ['Delaware', 'Hiram'],
 ['Delaware', 'Kent'],
 ['Delaware', 'Nelsonville'],
 ['Delaware', 'New Concord'],
 ['Delaware', 'Oberlin'],
 ['Delaware', 'Oxford'],
 ['Delaware', 'Rio Grande'],
 ['Delaware', 'Wilberforce'],
 ['Oklahoma', 'Ada'],
 ['Oklahoma', 'Alva'],
 ['Oklahoma', 'Durant'],
 ['Oklahoma', 'Edmond'],
 ['Oklahoma', 'Goodwell'],
 ['Oklahoma', 'Langston'],
 ['Oklahoma', 'Norman'],
 ['Oklahoma', 'Stillwater'],
 ['Oklahoma', 'Tahlequah'],
 ['Oklahoma', 'Tulsa'],
 ['Oklahoma', 'Weatherford'],
 ['Oregon', 'Ashland'],
 ['Oregon', 'Corvallis'],
 ['Oregon', 'Eugene'],
 ['Oregon', 'Forest Grove'],
 ['Oregon', 'Klamath Falls'],
 ['Oregon', 'La Grande'],
 ['Oregon', 'Marylhurst'],
 ['Oregon', 'McMinnville'],
 ['Oregon', 'Monmouth'],
 ['Oregon', 'Newberg'],
 ['Pennsylvania', 'Altoona'],
 ['Pennsylvania', 'Annville'],
 ['Pennsylvania', 'Bethlehem'],
 ['Pennsylvania', 'Bloomsburg'],
 ['Pennsylvania', 'Bradford'],
 ['California', 'Carlisle'],
 ['California', 'Cecil B. Moore, Philadelphia, also known as "Templetown"'],
 ['California', 'Clarion'],
 ['California', 'Collegeville'],
 ['California', 'Cresson'],
 ['California', 'East Stroudsburg'],
 ['California', 'Edinboro'],
 ['California', 'Erie'],
 ['California', 'Gettysburg'],
 ['California', 'Greensburg'],
 ['California', 'Grove City'],
 ['California', 'Huntingdon'],
 ['Indiana', 'Johnstown'],
 ['Indiana', 'Kutztown'],
 ['Indiana', 'Lancaster'],
 ['Indiana', 'Lewisburg'],
 ['Indiana', 'Lock Haven'],
 ['Indiana', 'Loretto'],
 ['Indiana', 'Mansfield'],
 ['Indiana', 'Meadville'],
 ['Indiana', 'Mont Alto'],
 ['Indiana', 'Millersville'],
 ['Indiana', 'New Wilmington'],
 ['Indiana', 'North East'],
 ['Indiana', 'University City, Philadelphia'],
 ['Indiana', 'Oakland, Pittsburgh'],
 ['Indiana', 'Reading'],
 ['Indiana', 'Selinsgrove'],
 ['Indiana', 'Shippensburg'],
 ['Indiana', 'Slippery Rock'],
 ['Indiana', 'State College'],
 ['Indiana', 'Villanova'],
 ['Indiana', 'Waynesburg'],
 ['Indiana', 'West Chester'],
 ['Indiana', 'Wilkes-Barre'],
 ['Indiana', 'Williamsport'],
 ['Rhode Island', 'Kingston'],
 ['Rhode Island', 'Providence'],
 ['South Carolina', 'Central'],
 ['South Carolina', 'Charleston'],
 ['South Carolina', 'Clemson'],
 ['South Carolina', 'Clinton'],
 ['South Carolina', 'Columbia'],
 ['South Carolina', 'Due West'],
 ['South Carolina', 'Florence'],
 ['South Carolina', 'Greenwood'],
 ['South Carolina', 'Orangeburg'],
 ['South Carolina', 'Rock Hill'],
 ['South Carolina', 'Spartanburg'],
 ['South Dakota', 'Brookings'],
 ['South Dakota', 'Madison'],
 ['South Dakota', 'Spearfish'],
 ['South Dakota', 'Vermillion'],
 ['Tennessee', 'Chattanooga'],
 ['Tennessee', 'Collegedale'],
 ['Tennessee', 'Cookeville'],
 ['Tennessee', 'Harrogate'],
 ['Tennessee', 'Henderson'],
 ['Tennessee', 'Johnson City'],
 ['Tennessee', 'Knoxville'],
 ['Tennessee', 'Martin'],
 ['Tennessee', 'McKenzie'],
 ['Tennessee', 'Memphis'],
 ['Tennessee', 'Murfreesboro'],
 ['Tennessee', 'Nashville'],
 ['Tennessee', 'Sewanee'],
 ['Texas', 'Abilene'],
 ['Texas', 'Alpine'],
 ['Texas', 'Austin'],
 ['Texas', 'Beaumont'],
 ['Texas', 'Canyon'],
 ['Texas', 'College Station'],
 ['Texas', 'Commerce'],
 ['Texas', 'Dallas'],
 ['Texas', 'Denton'],
 ['Texas', 'Fort Worth'],
 ['Texas', 'Georgetown'],
 ['Texas', 'Huntsville'],
 ['Texas', 'Houston'],
 ['Texas', 'Keene'],
 ['Texas', 'Kingsville'],
 ['Texas', 'Lubbock'],
 ['Texas', 'Nacogdoches'],
 ['Texas', 'Plainview'],
 ['Texas', 'Prairie View'],
 ['Texas', 'San Marcos'],
 ['Texas', 'Stephenville'],
 ['Texas', 'Waco'],
 ['Utah', 'Cedar City'],
 ['Utah', 'Logan'],
 ['Utah', 'Provo'],
 ['Utah', 'Orem'],
 ['Utah', 'Salt Lake City'],
 ['Utah', 'Ephraim'],
 ['Vermont', 'Burlington'],
 ['Vermont', 'Castleton'],
 ['Vermont', 'Johnson'],
 ['Vermont', 'Lyndonville'],
 ['Vermont', 'Middlebury'],
 ['Vermont', 'Northfield'],
 ['Virginia', 'Blacksburg'],
 ['Virginia', 'Bridgewater'],
 ['Virginia', 'Charlottesville'],
 ['Virginia', 'Farmville'],
 ['Virginia', 'Fredericksburg'],
 ['Virginia', 'Harrisonburg'],
 ['Virginia', 'Lexington'],
 ['Virginia', 'Lynchburg'],
 ['Virginia', 'Radford'],
 ['Virginia', 'Williamsburg'],
 ['Virginia', 'Wise'],
 ['Virginia', 'Chesapeake'],
 ['Washington', 'Bellingham'],
 ['Washington', 'Cheney'],
 ['Washington', 'Ellensburg'],
 ['Washington', 'Pullman'],
 ['Washington', 'University District, Seattle'],
 ['West Virginia', 'Athens'],
 ['West Virginia', 'Buckhannon'],
 ['West Virginia', 'Fairmont'],
 ['West Virginia', 'Glenville'],
 ['West Virginia', 'Huntington'],
 ['West Virginia', 'Montgomery'],
 ['West Virginia', 'Morgantown'],
 ['West Virginia', 'Shepherdstown'],
 ['West Virginia', 'West Liberty'],
 ['Wisconsin', 'Appleton'],
 ['Wisconsin', 'Eau Claire'],
 ['Wisconsin', 'Green Bay'],
 ['Wisconsin', 'La Crosse'],
 ['Wisconsin', 'Madison'],
 ['Wisconsin', 'Menomonie'],
 ['Wisconsin', 'Milwaukee'],
 ['Wisconsin', 'Oshkosh'],
 ['Wisconsin', 'Platteville'],
 ['Wisconsin', 'River Falls'],
 ['Wisconsin', 'Stevens Point'],
 ['Wisconsin', 'Waukesha'],
 ['Wisconsin', 'Whitewater'],
 ['Wyoming', 'Laramie']]

In [17]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    GDP=pd.read_excel('gdplev.xls',header=0)
    GDP=GDP.iloc[219:,:]
    n = len(GDP.iloc[:,6])
    for i in range(n-2):
        if (GDP.iloc[i,6] > GDP.iloc[i+1,6]) & (GDP.iloc[i+1,6] > GDP.iloc[i+2,6]):
            return GDP.iloc[i,4]
get_recession_start()

'2008q2'

In [16]:
GDP=pd.read_excel('gdplev.xls',header=0)
GDP=GDP.iloc[252:,:]
GDP

,"Current-Dollar and ""Real"" Gross Domestic Product",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,2017-01-27 00:00:00
252,NaN,NaN,NaN,NaN,2008q2,14813,14963.4,NaN
253,NaN,NaN,NaN,NaN,2008q3,14843,14891.6,NaN
254,NaN,NaN,NaN,NaN,2008q4,14549.9,14577,NaN
255,NaN,NaN,NaN,NaN,2009q1,14383.9,14375,NaN
256,NaN,NaN,NaN,NaN,2009q2,14340.4,14355.6,NaN
257,NaN,NaN,NaN,NaN,2009q3,14384.1,14402.5,NaN
258,NaN,NaN,NaN,NaN,2009q4,14566.5,14541.9,NaN
259,NaN,NaN,NaN,NaN,2010q1,14681.1,14604.8,NaN
260,NaN,NaN,NaN,NaN,2010q2,14888.6,14745.9,NaN
261,NaN,NaN,NaN,NaN,2010q3,15057.7,14845.5,NaN
262,NaN,NaN,NaN,NaN,2010q4,15230.2,14939,NaN
263,NaN,NaN,NaN,NaN,2011q1,15238.4,14881.3,NaN
264,NaN,NaN,NaN,NaN,2011q2,15460.9,14989.6,NaN
265,NaN,NaN,NaN,NaN,2011q3,15587.1,15021.1,NaN
266,NaN,NaN,NaN,NaN,2011q4,15785.3,15190.3,NaN
267,NaN,NaN,NaN,NaN,2012q1,15973.9,15291,NaN
268,NaN,NaN,NaN,NaN,2012q2,16121.9,15362.4,NaN
269,NaN,NaN,NaN,NaN,2012q3,16227.9,15380.8,NaN
270,NaN,NaN,NaN,NaN,2012q4,16297.3,15384.3,NaN
271,NaN,NaN,NaN,NaN,2013q1,16475.4,15491.9,NaN
272,NaN,NaN,NaN,NaN,2013q2,16541.4,15521.6,NaN
273,NaN,NaN,NaN,NaN,2013q3,16749.3,15641.3,NaN
274,NaN,NaN,NaN,NaN,2013q4,16999.9,15793.9,NaN
275,NaN,NaN,NaN,NaN,2014q1,17025.2,15747,NaN
276,NaN,NaN,NaN,NaN,2014q2,17285.6,15900.8,NaN
277,NaN,NaN,NaN,NaN,2014q3,17569.4,16094.5,NaN
278,NaN,NaN,NaN,NaN,2014q4,17692.2,16186.7,NaN
279,NaN,NaN,NaN,NaN,2015q1,17783.6,16269,NaN
280,NaN,NaN,NaN,NaN,2015q2,17998.3,16374.2,NaN
281,NaN,NaN,NaN,NaN,2015q3,18141.9,16454.9,NaN
282,NaN,NaN,NaN,NaN,2015q4,18222.8,16490.7,NaN
283,NaN,NaN,NaN,NaN,2016q1,18281.6,16525,NaN
284,NaN,NaN,NaN,NaN,2016q2,18450.1,16583.1,NaN
285,NaN,NaN,NaN,NaN,2016q3,18675.3,16727,NaN
286,NaN,NaN,NaN,NaN,2016q4,18860.8,16804.8,NaN

In [5]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    GDP=pd.read_excel('gdplev.xls',header=0)
    GDP=GDP.iloc[252:,:]
    n = len(GDP.iloc[:,6])
    for i in range(n-2):
        if (GDP.iloc[i,6] < GDP.iloc[i+1,6]) & (GDP.iloc[i+1,6] < GDP.iloc[i+2,6]):
            return GDP.iloc[i+1,4]
get_recession_end()

'2009q3'

In [6]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    GDP=pd.read_excel('gdplev.xls',header=0)
    GDP=GDP.iloc[252:,:]
    n = len(GDP.iloc[:,6])
    for i in range(n-2):
        if (GDP.iloc[i,6] < GDP.iloc[i+1,6]) & (GDP.iloc[i+1,6] < GDP.iloc[i+2,6]):
            return GDP.iloc[i,4]
get_recession_bottom()

'2009q2'

In [82]:
stname=[]

for i in range(len(house['State'])):
    stname.append(states[house['State'][i]])
house['State']=stname

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,6181,New York,New York,New York,Queens,1,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,12447,Los Angeles,California,Los Angeles-Long Beach-Anaheim,Los Angeles,2,155000.0,154600.0,154400.0,154200.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,17426,Chicago,Illinois,Chicago,Cook,3,109700.0,109400.0,109300.0,109300.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,13271,Philadelphia,Pennsylvania,Philadelphia,Philadelphia,4,50000.0,49900.0,49600.0,49400.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,40326,Phoenix,Arizona,Phoenix,Maricopa,5,87200.0,87700.0,88200.0,88400.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900
5,18959,Las Vegas,Nevada,Las Vegas,Clark,6,121600.0,120900.0,120400.0,120300.0,...,190600,192000,193600,194800,195400,196100,197300,198200,199300,200600
6,54296,San Diego,California,San Diego,San Diego,7,161100.0,160700.0,160400.0,160100.0,...,525700,526700,527800,529200,531000,533900,536900,537900,539000,540500
7,38128,Dallas,Texas,Dallas-Fort Worth,Dallas,8,NaN,NaN,NaN,NaN,...,134600,136600,138700,140600,142200,143300,144500,146000,148200,150400
8,33839,San Jose,California,San Jose,Santa Clara,9,224500.0,224900.0,225400.0,226100.0,...,789700,792100,795800,803100,811900,817600,819100,820100,821700,822700
9,25290,Jacksonville,Florida,Jacksonville,Duval,10,77500.0,77200.0,76800.0,76600.0,...,132000,132500,133100,133900,134900,136000,137200,138400,139500,140300
10,20330,San Francisco,California,San Francisco,San Francisco,11,262500.0,263500.0,264100.0,265000.0,...,1105800,1112300,1117400,1122700,1125200,1123200,1119800,1114800,1108800,1104000
11,10221,Austin,Texas,Austin,Travis,12,NaN,NaN,NaN,NaN,...,287300,289300,291100,293400,296000,299200,301800,303300,304100,304800
12,17762,Detroit,Michigan,Detroit,Wayne,13,NaN,NaN,NaN,NaN,...,38500,38400,38300,38000,37600,37400,37500,37500,37700,38100
13,10920,Columbus,Ohio,Columbus,Franklin,14,83100.0,83200.0,83300.0,83500.0,...,115200,115800,116200,116700,117200,117700,118100,118800,119700,120500
14,32811,Memphis,Tennessee,Memphis,Shelby,15,60600.0,60500.0,60700.0,60800.0,...,69600,69800,69900,70800,72000,73100,74300,75100,75600,76200
15,24043,Charlotte,North Carolina,Charlotte,Mecklenburg,16,94500.0,94900.0,95700.0,96400.0,...,162800,164300,165500,166500,167400,168400,169500,170400,171700,173100
16,17933,El Paso,Texas,El Paso,El Paso,17,67400.0,67800.0,68000.0,68300.0,...,110200,110000,110200,110600,111200,111500,111400,111500,112100,112300
17,44269,Boston,Massachusetts,Boston,Suffolk,18,123100.0,122800.0,123100.0,123800.0,...,471000,474600,478700,482900,486200,488000,489700,493400,499200,504200
18,16037,Seattle,Washington,Seattle,King,19,164400.0,163900.0,163600.0,163400.0,...,533700,538700,544300,551200,559700,568600,576200,581800,587200,592200
19,3523,Baltimore,Maryland,Baltimore,Baltimore City,20,53200.0,53900.0,54400.0,54700.0,...,113600,114000,114500,114700,114800,114700,114600,114900,115100,115200
20,11093,Denver,Colorado,Denver,Denver,21,98700.0,99200.0,99600.0,100200.0,...,330500,332100,333500,335600,337600,339700,342700,345900,349800,353300
21,41568,Washington,District of Columbia,Washington,District of Columbia,22,NaN,NaN,NaN,NaN,...,501200,502500,503800,504700,503800,503400,505100,508900,513900,518600
22,6118,Nashville,Tennessee,Nashville,Davidson,23,83100.0,83800.0,84800.0,85900.0,...,189300,191400,193300,195100,196800,198400,200300,202400,205000,207200
23,5976,Milwaukee,Wisconsin,Milwaukee,Milwaukee,24,68100.0,68100.0,68100.0,67800.0,...,94600,94300,94200,94600,95200,95900,96300,96900,98200,99500
24,7481,Tucson,Arizona,Tucson,Pima,25,91500.0,91500.0,91600.0,91500.0,...,148200,148400,148800,149500,150300,150700,151100,151700,152400,153000
25,13373,Portland,Oregon,Portland,Multnomah,26,121100.0,122200.0,123000.0,123600.0,...,343400,347800,351900,356100,360000,364400,369300,375700,383600,390500
26,33225,Oklahoma City,Oklahoma,Oklahoma City,Oklahoma,27,64900.0,65400.0,65700.0,65800.0,...,127300,127700,127600,127700,128400,129000,129300,129600,130100,130500
27,40152,Omaha,Nebraska,Omaha,Douglas,28,88900.0,89600.0,90400.0,90800.0,...,140300,140500,140900,141600,142400,142800,142700,142500,143100,143800
28,23429,Albuquerque,New Mexico,Albuquerque,Bernalillo,29,115400.0,115600.0,116000.0,116700.0,...,167300,167800,168300,169100,169900,170300,170500,171100,171800,172000
29,18203,Fresno,California,Fresno,Fresno,30,90400.0,90400.0,90200.0,90000.0,...,187600,187700,187900,189000,190200,191200,192700,194300,195800,197100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10700,49199,Granite Shoals,Texas,NaN,Burnet,10701,NaN,NaN,NaN,NaN,...,128200,129900,131500,133700,136100,137900,139700,142600,145700,147200
10701,49693,Piney Point,Maryland,California-Lexington Park,Saint Marys,10702,148400.0,152300.0,153600.0,153100.0,...,309800,312600,315900,319900,322700,323600,324300,324600,324500,324700
10702,50374,Maribel,Wisconsin,Manitowoc,Manitowoc,10703,NaN,NaN,NaN,NaN,...,129100,129700,128900,127600,127000,127800,129300,130700,132900,135500
10703,50539,Middleton,Idaho,Boise City,Canyon,10704,103100.0,103200.0,103300.0,103000.0,...,151100,152300,153200,154000,154500,155500,157200,158800,160100,161400
10704,50963,Bennett,Colorado,Denver,Adams,10705,83800.0,85900.0,87100.0,88100.0,...,195700,197400,198500,199400,201400,204500,207700,210200,211900,213300
10705,51793,East Hampstead,New Hampshire,Boston,Rockingham,10706,132200.0,128600.0,125500.0,125200.0,...,269600,270600,271200,272400,274000,275800,277800,279800,281700,283200
10706,52166,Garden City,Missouri,Kansas City,Cass,10707,NaN,NaN,NaN,NaN,...,103600,104800,105200,105800,107800,110000,112000,113000,113500,113700
10707,53456,Mountainburg,Arkansas,Fort Smith,Crawford,10708,55600.0,55500.0,55400.0,56200.0,...,90100,93400,96300,98600,100100,101200,101800,102700,103300,103500
10708,53730,Oostburg,Wisconsin,Sheboygan,Sheboygan,10709,86300.0,84900.0,83800.0,83700.0,...,132000,132500,132700,132600,133000,133700,134100,134500,135700,137000
10709,54771,Twin Peaks,California,Riverside,San Bernardino,10710,85500.0,85200.0,84600.0,84400.0,...,159200,160600,162400,164400,165700,166300,167700,169900,172500,174500
10710,54802,Upper Brookville,New York,New York,Nassau,10711,897200.0,894000.0,891300.0,894400.0,...,1833700,1854900,1879300,1905900,1928300,1941800,1942000,1948400,1962600,1975000
10711,54995,Volcano,Hawaii,Hilo,Hawaii,10712,114600.0,108600.0,102400.0,96700.0,...,232500,236400,239700,241800,244700,247800,249600,249500,248500,247200
10712,55072,Wedgefield,South Carolina,Sumter,Sumter,10713,NaN,NaN,NaN,NaN,...,69000,68500,68200,68500,69900,71900,74100,76800,79600,81800
10713,55210,Williamston,Michigan,Lansing,Ingham,10714,120900.0,124800.0,128200.0,130200.0,...,182700,181800,180800,181000,182600,182900,182200,182100,182800,183200
10714,55357,Decatur,Arkansas,Fayetteville,Benton,10715,54700.0,55100.0,55100.0,54700.0,...,97200,97400,96900,96300,96300,96600,96600,96700,96900,96800
10715,55476,Briceville,Tennessee,Knoxville,Anderson,10716,37000.0,37500.0,36700.0,36100.0,...,43200,41700,40800,40500,41100,41700,42000,41700,41100,40600
10716,55706,Edgewood,Indiana,Indianapolis,Madison,10717,NaN,NaN,NaN,NaN,...,100200,101100,100200,98900,99200,99600,99900,100400,101000,100900
10717,56183,Palmyra,Tennessee,Clarksville,Montgomery,10718,NaN,NaN,NaN,NaN,...,126400,127600,127300,127300,128400,130000,133000,135600,137000,138500
10718,56845,Saint Inigoes,Maryland,California-Lexington Park,Saint Marys,10719,137400.0,136900.0,137500.0,138600.0,...,277200,275800,276300,279500,282200,282900,282900,282100,281400,281400
10719,56943,Marysville,Indiana,Louisville/Jefferson County,Clark,10720,NaN,NaN,NaN,NaN,...,119800,124100,127200,129500,128000,124800,122700,122200,123100,125300
10720,57212,Forest Falls,California,Riverside,San Bernardino,10721,76400.0,75600.0,74100.0,73100.0,...,199700,195300,190400,187500,188000,190000,190600,189000,187100,186200
10721,171874,Bois D Arc,Missouri,Springfield,Greene,10722,77700.0,77500.0,77700.0,78600.0,...,149800,149100,148000,146900,145700,145000,143700,142600,143200,144800
10722,182023,Henrico,Virginia,Richmond,Henrico,10723,110200.0,110500.0,110900.0,111100.0,...,213800,215100,216000,216200,215900,215900,215900,216800,219000,221300
10723,188693,Diamond Beach,New Jersey,Ocean City,Cape May,10724,136500.0,136800.0,137000.0,135200.0,...,400100,401600,403100,405000,405500,404500,403800,403400,400700,397300
10724,227014,Gruetli Laager,Tennessee,NaN,Grundy,10725,24800.0,24300.0,24500.0,25000.0,...,71800,72900,74500,75700,75800,75900,76600,76900,77200,77800
10725,398292,Town of Wrightstown,Wisconsin,Green Bay,Brown,10726,NaN,NaN,NaN,NaN,...,149900,150100,150300,150000,149200,149900,151400,152500,154100,155900
10726,398343,Urbana,New York,Corning,Steuben,10727,66900.0,65800.0,65500.0,65100.0,...,135700,136400,137700,138700,140500,143600,145000,144000,143000,143000
10727,398496,New Denmark,Wisconsin,Green Bay,Brown,10728,NaN,NaN,NaN,NaN,...,188700,189800,190800,191200,191200,191700,192800,194000,196300,198900
10728,398839,Angels,California,NaN,Calaveras,10729,115600.0,116400.0,118000.0,119000.0,...,280400,279600,278000,276600,275000,273700,272000,269100,269000,270900
10729,399114,Holland,Wisconsin,Sheboygan,Sheboygan,10730,129900.0,130200.0,130300.0,129100.0,...,217800,219400,221100,222000,222800,224900,228000,231200,233900,236000

In [109]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''

    house=pd.read_csv('City_Zhvi_AllHomes.csv',header=0)
    stname=[]
    for i in range(len(house['State'])):
        stname.append(states[house['State'][i]])
    house['State']=stname
    time=house.iloc[:,51:]
    #print(np.mean(time.iloc[:,0:0+3],axis=1))
    a=[np.mean(time.ix[:,3*i:3*i+3],axis=1) for i in range(66)]
    a.append(np.mean(time.iloc[:,-2:],axis=1))
    name=[]
    for i in range(0,17):
        for j in range(1,5):
            if i>=10:
                name.append('20'+str(i)+'q'+str(j))
            else:
                name.append('200'+str(i)+'q'+str(j)) 
    name.pop()
    a=pd.DataFrame(a)
    a=a.T
    a.columns=name
    a=a.set_index([house['State'],house['RegionName']])
    
    return a
#convert_housing_data_to_quarters()

In [110]:
convert_housing_data_to_quarters().head()

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,515466.666667,522800.000000,528066.666667,532266.666667,540800.000000,557200.000000,572833.333333,582866.666667,591633.333333,587200.0
California,Los Angeles,207066.666667,214466.666667,220966.666667,226166.666667,233000.000000,239100.000000,245066.666667,253033.333333,261966.666667,272700.000000,...,498033.333333,509066.666667,518866.666667,528800.000000,538166.666667,547266.666667,557733.333333,566033.333333,577466.666667,584050.0
Illinois,Chicago,138400.000000,143633.333333,147866.666667,152133.333333,156933.333333,161800.000000,166400.000000,170433.333333,175500.000000,177566.666667,...,192633.333333,195766.666667,201266.666667,201066.666667,206033.333333,208300.000000,207900.000000,206066.666667,208200.000000,212000.0
Pennsylvania,Philadelphia,53000.000000,53633.333333,54133.333333,54700.000000,55333.333333,55533.333333,56266.666667,57533.333333,59133.333333,60733.333333,...,113733.333333,115300.000000,115666.666667,116200.000000,117966.666667,121233.333333,122200.000000,123433.333333,126933.333333,128700.0
Arizona,Phoenix,111833.333333,114366.666667,116000.000000,117400.000000,119600.000000,121566.666667,122700.000000,124300.000000,126533.333333,128366.666667,...,164266.666667,165366.666667,168500.000000,171533.333333,174166.666667,179066.666667,183833.333333,187900.000000,191433.333333,195200.0

In [127]:
x=convert_housing_data_to_quarters().iloc[:100,:]
#x=pd.DataFrame(x)
x.head()
y=get_list_of_university_towns()
y.head()
x.merge(y,left_index=True, right_on=['State','RegionName'],how='inner')

,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3,State,RegionName
252,132600.000000,134366.666667,135400.000000,137000.000000,139533.333333,141733.333333,143366.666667,146133.333333,149333.333333,150933.333333,...,175466.666667,177500.000000,181600.000000,186766.666667,190633.333333,194600.000000,197200.000000,199950.0,Nevada,Las Vegas
38,222900.000000,234366.666667,245433.333333,256033.333333,267200.000000,276266.666667,284500.000000,291933.333333,301233.333333,312866.666667,...,496433.333333,503366.666667,512066.666667,519766.666667,525466.666667,529333.333333,536233.333333,539750.0,California,San Diego
447,84466.666667,83866.666667,84866.666667,87833.333333,89733.333333,89300.000000,89066.666667,90900.000000,92566.666667,93800.000000,...,111533.333333,113700.000000,121133.333333,128566.666667,134600.000000,140500.000000,144600.000000,149300.0,Texas,Dallas
442,142966.666667,145266.666667,149466.666667,155733.333333,161233.333333,160733.333333,159533.333333,160033.333333,158966.666667,157500.000000,...,258133.333333,266500.000000,275033.333333,281633.333333,287233.333333,293500.000000,301433.333333,304450.0,Texas,Austin
335,94366.666667,95833.333333,97133.333333,98266.666667,99400.000000,100266.666667,101066.666667,102200.000000,103400.000000,104800.000000,...,106433.333333,107866.666667,109433.333333,111566.666667,115000.000000,116700.000000,118200.000000,120100.0,Ohio,Columbus
436,72500.000000,73200.000000,73866.666667,74000.000000,74166.666667,74933.333333,75500.000000,76066.666667,76333.333333,76766.666667,...,71166.666667,70533.333333,68700.000000,68666.666667,69533.333333,70900.000000,74166.666667,75900.0,Tennessee,Memphis
175,206933.333333,219166.666667,233100.000000,242500.000000,249600.000000,257066.666667,266933.333333,274966.666667,282500.000000,289300.000000,...,440733.333333,448500.000000,455366.666667,463966.666667,471633.333333,482600.000000,490366.666667,501700.0,Massachusetts,Boston
438,113833.333333,115266.666667,115866.666667,116933.333333,118033.333333,119166.666667,120100.000000,120800.000000,121566.666667,122633.333333,...,166900.000000,171466.666667,176266.666667,181800.000000,189200.000000,195066.666667,200366.666667,206100.0,Tennessee,Nashville
506,78033.333333,79066.666667,81033.333333,82333.333333,84033.333333,85566.666667,87066.666667,88400.000000,89533.333333,91366.666667,...,91966.666667,93333.333333,94100.000000,94133.333333,94566.666667,94666.666667,96366.666667,98850.0,Wisconsin,Milwaukee
11,101833.333333,102966.666667,104466.666667,105666.666667,107200.000000,108766.666667,110566.666667,112800.000000,115000.000000,117200.000000,...,144233.333333,144166.666667,145133.333333,146600.000000,148166.666667,149533.333333,151166.666667,152700.0,Arizona,Tucson
36,122433.333333,126000.000000,129466.666667,134600.000000,141166.666667,148933.333333,156600.000000,162400.000000,168433.333333,175566.666667,...,230900.000000,234700.000000,241033.333333,249033.333333,255566.666667,263166.666667,271133.333333,277550.0,California,Sacramento
77,143566.666667,147966.666667,151266.666667,153933.333333,158533.333333,162100.000000,163200.000000,164666.666667,165733.333333,167100.000000,...,162333.333333,166866.666667,172066.666667,175800.000000,181400.000000,184733.333333,189966.666667,194100.0,Georgia,Atlanta
357,73866.666667,75166.666667,76300.000000,77166.666667,78466.666667,79566.666667,80433.333333,81300.000000,81533.333333,82033.333333,...,95366.666667,97033.333333,99433.333333,101566.666667,104033.333333,105366.666667,106533.333333,107500.0,Oklahoma,Tulsa
74,79100.000000,81433.333333,82800.000000,84033.333333,86100.000000,87566.666667,89800.000000,91800.000000,94500.000000,97233.333333,...,136800.000000,139733.333333,142800.000000,146966.666667,152900.000000,156500.000000,159666.666667,162300.0,Florida,Tampa
35,137166.666667,139666.666667,141300.000000,144500.000000,148533.333333,155566.666667,161233.333333,165400.000000,171433.333333,177333.333333,...,292800.000000,294400.000000,299766.666667,309200.000000,313700.000000,319166.666667,328066.666667,334300.0,California,Riverside
266,124466.666667,127700.000000,130433.333333,132900.000000,135133.333333,138233.333333,143066.666667,146133.333333,148000.000000,151033.333333,...,194100.000000,195733.333333,196900.000000,196300.000000,201800.000000,210766.666667,213333.333333,211000.0,New Jersey,Newark
73,103100.000000,104366.666667,105000.000000,106433.333333,107700.000000,108933.333333,111200.000000,113100.000000,115300.000000,117366.666667,...,152000.000000,153900.000000,154700.000000,156133.333333,155666.666667,157400.000000,158033.333333,161050.0,Florida,Tallahassee
142,79866.666667,80833.333333,81466.666667,82300.000000,83566.666667,84766.666667,85533.333333,86133.333333,86333.333333,87066.666667,...,102233.333333,102900.000000,104700.000000,105500.000000,107200.000000,108966.666667,111466.666667,113950.0,Kentucky,Louisville
455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,106600.000000,107800.000000,109033.333333,110333.333333,111100.000000,113433.333333,115566.666667,116300.0,Texas,Lubbock
314,129300.000000,132533.333333,135100.000000,136066.666667,135666.666667,136900.000000,138000.000000,140066.666667,141600.000000,142666.666667,...,162500.000000,163366.666667,164366.666667,165900.000000,170600.000000,172933.333333,173566.666667,175800.0,North Carolina,Durham
69,88666.666667,90366.666667,92433.333333,94800.000000,97266.666667,99166.666667,101933.333333,104266.666667,106800.000000,108600.000000,...,134266.666667,136633.333333,138266.666667,142800.000000,147300.000000,151333.333333,153833.333333,155300.0,Florida,Orlando
316,104933.333333,106900.000000,108100.000000,108966.666667,109666.666667,110066.666667,110233.333333,110133.333333,110066.666667,110433.333333,...,118700.000000,119233.333333,119833.333333,120000.000000,121466.666667,122300.000000,122666.666667,123500.0,North Carolina,Greensboro
248,105966.666667,107600.000000,109700.000000,110766.666667,111766.666667,111800.000000,112633.333333,113666.666667,115566.666667,116966.666667,...,139600.000000,141666.666667,144633.333333,146800.000000,149200.000000,150966.666667,151633.333333,152100.0,Nebraska,Lincoln
485,121200.000000,122733.333333,123300.000000,123533.333333,125833.333333,128600.000000,131633.333333,134700.000000,137733.333333,140633.333333,...,237966.666667,236533.333333,238266.666667,240966.666667,243566.666667,244633.333333,242700.000000,244000.0,Virginia,Chesapeake
504,137700.000000,140500.000000,141933.333333,142966.666667,146033.333333,149600.000000,152766.666667,153633.333333,155966.666667,158900.000000,...,197500.000000,199333.333333,201233.333333,203866.666667,209100.000000,212366.666667,215300.000000,217350.0,Wisconsin,Madison
433,79666.666667,80166.666667,80466.666667,81100.000000,81500.000000,81833.333333,82400.000000,83300.000000,84066.666667,85000.000000,...,119200.000000,117200.000000,115400.000000,115300.000000,118500.000000,118666.666667,117666.666667,119300.0,Tennessee,Knoxville
299,53566.666667,53233.333333,53200.000000,53200.000000,53066.666667,52533.333333,52666.666667,53200.000000,53366.666667,53566.666667,...,62800.000000,62900.000000,63966.666667,64800.000000,65333.333333,66833.333333,67000.000000,66900.0,New York,Rochester

In [141]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    newdata=convert_housing_data_to_quarters()
    y=get_list_of_university_towns()
    newdata['Test']=newdata['2009q2']-newdata['2008q2']
    university=newdata.merge(y,left_index=True, right_on=['State','RegionName'],how='inner').dropna()
    out=newdata.merge(y,left_index=True, right_on=['State','RegionName'],how='outer').dropna()

    #out=out['Test']
    ttest_ind(university['Test'], out['Test'])
    if ttest_ind(university['Test'], out['Test'])[1]<0.01:
        different=True
    else:
        different=False
    p=ttest_ind(university['Test'], out['Test'])[1]
    if np.mean(university['Test'])<np.mean(out['Test']):
        better="university town"
    else:
        better="non-university town"
    return tuple([different, p, better])
run_ttest()

(False, 0.012179201131033959, 'non-university town')